.side-bar {
    height: 87vh;
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-self: left;
    border-right:solid 1px #a8a8a8;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 2px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #a8a8a8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #db8582;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
